@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    font-family: "Poppins", sans-serif;

}

.mt-3{
    text-align: center;
}

.imagem{
   padding-bottom: 20px;
  
   margin-left: 290px;
   
}