:root{
    --title-color: #322153;

}

html{
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #f0f0f5;
}

a{
    text-decoration: none;
}

#page-home{

    background: url(../assets/home-background.svg) no-repeat;
    height: 100vh;
    background-position: 35vw bottom;
}

#page-home header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#page-home .content{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-home header a{
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    
}

#page-home header a span{
    display: flex;
    background-image: url(../assets/success-check-icon.svg);
    width: 20px;
    height: 20px;
    

}

#page-home main{
    max-width: 560px;
}

#page-home main h1{
    font-size: 54px;
    color: var(--title-color);

}


form {
   
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
} 


input:focus{
    border-color: #000;
}

.button {
   
    padding-left: 90px; 
}

